

<div class="area"></div>
<nav class="main-menu fixed">
  <ul class="mt-8">


    <li >
      <a routerLink="/curriculum">
        <i class="fa fa-user-md fa-2x"></i>
        <span class="nav-text">
          Solicitar Transporte
        </span>
      </a>
    </li>


    <li >
      <a routerLink="/vehicles"  routerLinkActive="text-yellow-500">

          <i class="fa fa-clock-o fa-2x"></i>
          <span class="nav-text font-bold ml-3">
            Reporte de Vehiculos
          </span>

      </a>
    </li>
    <li >
      <a  routerLinkActive="text-yellow-500">

          <i class="fa fa-clock-o fa-2x"></i>
          <span class="nav-text font-bold ml-3">
            Formulario para solicitud de transporte
          </span>

      </a>
    </li>



    <li >
      <a >
        <i class="fa fa-clock-o fa-2x"></i>
        <span class="nav-text">
          Lista de solicitudes
        </span>
      </a>
    </li>

      <li >
        <a  routerLinkActive="text-yellow-500">
          <div class="ml-4">
            <i class="fa fa-clock-o fa-2x"></i>
            <span class="nav-text font-bold ml-3">
              Asignar piloto y vehiculo
            </span>
          </div>
        </a>
      </li>


  </ul>







</nav>
